.contacts 
    .contacts__wrapper 
        .contacts__top 
            .contacts__title._iconlocation Контакты
            button.contacts__hide._icon-arrow-left
        .contacts__content
            .contacts__subway
                .contacts__subway-station
                    .contacts__metro-icon.contacts__metro-icon_purple M
                    .contacts__metro-name Старая Деревня
                .contacts__subway-station
                    .contacts__metro-icon.contacts__metro-icon_blue M
                    .contacts__metro-name Черная речка
            .contacts__address 197183, г. Санкт-Петербург, ул. Хворостова, д. 6
            .contacts__working-hours Пн-Пт: 10.00-19.00  Сб: 11.00-17.00  Вc: Выходной
            a(href="tel:+78123258780").contacts__phone 8 (812) 325-87-80
            a(href="tel:+78002228781").contacts__phone 8 (800) 222-87-81 (бесплатные звонки по РФ)
            a(href="mailto:mail@example.com").contacts__mail mail@example.com
            .contacts__social
                a(href="404.html").contacts__social-item._icon-youtube
                a(href="404.html").contacts__social-item._icon-insta
                a(href="404.html").contacts__social-item._icon-vk
            .contacts__requisites.requisites-contacts
                h3.requisites-contacts__title Реквизиты:
                p.requisites-contacts__text ИП Михайлов Роман Валерьевич
                p.requisites-contacts__text ИНН: 602713139823
                p.requisites-contacts__text ОГРН: 315470300006390
            button.contacts__button.btn
                .contacts__icon-map._icon-map 
                p Показать на карте