footer.footer 
    .footer__container
        .footer__item
            .footer__logo.logo Лого
            .footer__mail
                .footer__icon._icon-mailru
                p Заказать через почту:
                a(href="mailto:mail@example.com").footer__link mail@example.com
            .footer__address
                .footer__icon._icon-location-cursor
                p 197183, г. Санкт-Петербург, ул. Хворостова, д. 6
            button(data-popup="#feedback").footer__button.btn
                .footer__icon_light._icon-feedback
                p Обратная связь
        div(data-da=".footer__container, 991.98, last").footer__item
            p.footer__text Информация на данном интернет-сайте носит исключительно ознакомительный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ. Поставщик оставляет за собой право без предварительного уведомления вносить изменения в стоимость, конструкцию и комплектацию изделий.
            p.footer__copy © ООО «ООО», 2028
        .footer__item 
            a(href="tel:78123258780").footer__phone 8 (812) 325-87-80
            .footer__working-hours-block
                .footer__working-hours
                    p Режим работы:
                    p Пн-Пт: 10.00-19.00
                    p Сб: 11.00-17.00
                .footer__icon._icon-time
            a(href="tel:78002228781").footer__phone 8 (800) 222-87-81
            p(data-popup="#back-call").footer__back-call Заказать звонок
            ul.footer__social
                li.footer__socilal-item
                    a(href="404.html").footer__icon._icon-youtube
                li.footer__socilal-item
                    a(href="404.html").footer__icon._icon-insta
                li.footer__socilal-item
                    a(href="404.html").footer__icon._icon-whatsapp
                li.footer__socilal-item
                    a(href="404.html").footer__icon._icon-vk
                li.footer__socilal-item
                    a(href="404.html").footer__icon._icon-telegram


