.menu-catalog
    .menu-catalog__wrapper
        .menu-catalog__close
            .menu-catalog__title.title Закрыть
            .menu-catalog__icon_close._icon-arrow-left
        nav.menu-catalog__navigation
            ul.menu-catalog__list
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-cutting 
                        p Резка
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-stripping 
                        p Зачистка
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-grinding 
                        p Шлифование
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-quartzing 
                        p Кварцевание
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-filing 
                        p Опиливание
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-drilling 
                        p Сверление
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-polishing 
                        p Полировка
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-tool 
                        p Инструмент
                li.menu-catalog__item
                    a(href="404.html").menu-catalog__link
                        .menu-catalog__icon._icon-materials 
                        p Материалы

