.preloader
    .preloader__loader
        .lds-spinner
            div 
            div 
            div 
            div 
            div 
            div 
            div 
            div 
            div 
            div 
            div 
            div 


