@font-face {
	font-family: FuturaFuturisC;
	font-display: swap;
	src: url("../fonts/FuturaFuturisC-Bold.woff2") format("woff2"), url("../fonts/FuturaFuturisC-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: FuturaFuturisBlackC;
	font-display: swap;
	src: url("../fonts/FuturaFuturisBlackC.woff2") format("woff2"), url("../fonts/FuturaFuturisBlackC.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FuturaFuturisC;
	font-display: swap;
	src: url("../fonts/FuturaFuturisC.woff2") format("woff2"), url("../fonts/FuturaFuturisC.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FuturaFuturisLightC;
	font-display: swap;
	src: url("../fonts/FuturaFuturisLightC.woff2") format("woff2"), url("../fonts/FuturaFuturisLightC.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FuturaPress;
	font-display: swap;
	src: url("../fonts/FuturaPress.woff2") format("woff2"), url("../fonts/FuturaPress.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
