
html 
    title="404"
    include html/head
    body 
        .wrapper 
            include html/header
            main.main.not-found__container
                .not-found__wrapper
                    .not-found__title 404
                    .not-found__description Простите, но тут пока ничего нет...
            
            include html/footer
        .preloader 
            include html/preloader
        include html/popup

        
